@import "compass/css3";
.nicesexytext {
  width: 15%;
  height: 4vh;
  line-height: 4vh;
  text-align: center;
  position: fixed;
  bottom: 20;
  right: 0;
  white-space: nowrap;
  font-size: 1.7vh;
  color: #ffffff;
  z-index: 10;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  animation: gelatine 0.6s;
  transform: perspective(1em) rotateZ(-4deg);
  left:10%;
}

@keyframes gelatine {
  from, to { transform: scale(1, 1) perspective(1em) rotateZ(-4deg); }
  25% { transform: scale(0.6, 1.3) perspective(1em) rotateZ(-4deg); }
  50% { transform: scale(1.3, 0.6) perspective(1em) rotateZ(-4deg); }
  75% { transform: scale(1.1, 1) perspective(1em) rotateZ(-4deg); }
  100% { transform: scale(1, 1) perspective(1em) rotateZ(-4deg); }
}

.divwrap {
  width: 15%;
  height: 1.5vh;
  background: rgba(0, 0, 0, 0.246);
  position: fixed;
  display: none;
  white-space: nowrap;
  border-radius: 6px;
  animation: gelatine 0.6s;
  transform: perspective(1em) rotateZ(-4deg);
  margin-top:51%;
  left:40%;
}

.progress {
  width: 100%;
  height: 5%;
}

.progress-wrap {
  width: 100%;
  height: 1.5vh;
  background: rgba(0, 0, 0, 0.246);
  text-align: left;
  position: relative;
  display: block;
  white-space: nowrap;
  border-radius: 6px;

  animation: gelatine 0.6s;
  transform: perspective(1em) rotateZ(-4deg);
}

#progress-bar {

  background: -webkit-linear-gradient(70deg, #7700ff 40%, #540099 40%) !important;
  width: 0%;
  height: 1.5vh;
  transition: width 0.3s;
  transition-timing-function: ease-out;
  box-shadow: 0 0 1em 0 #540099;
  border-radius: 6px;

  animation: gelatine 0.6s;
}
